/* Your custom styles */
html, body,header,#intro,.bg-lightGrey,.goalPlanner,.bg-contact{
    height: 100%;
}
#intro{
    background: url("../img/assets/homepage-banner.png")no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.bg-lightGrey{
    background: url("../img/assets/bg-layer.png")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-contact{
    background: url("../img/assets/contact-layer.png")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.goalPlanner{
    background: url("../img/assets/bg-layer-color.png")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.show{
    background-color: #0099CC;
}

.top-nav-collapse{
    background-color: #0099CC;
}

._registerBtn{
    border: 2px solid white;
    color: blue !important;
    font-weight: bold !important;
}

@media (max-width: 576px) {
    .xs{
        padding: 10px;
    }
    .header-info{
        margin-top: 20%;
    }
    .header-img{
        padding-top: 20px;
        width: 75%;
        height: 75%;
    }
    .howItWork{
        padding: 10px 20%;
    }
    .btn-fundExp{
        width: 100% !important;
    }
    .xs-goal-planner{
        padding-left: 15%;
        padding-right: 15%;
    }
}

input[type=text]{
    border-bottom: none!important;
    box-shadow: none!important;
    width: 350px !important;
}

input[type=email]{
    border-bottom: none!important;
    box-shadow: none!important;
    width: 100px !important;
}

input[type=tel]{
    border-bottom: none!important;
    box-shadow: none!important;
    width: 100px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey ;
    opacity: 0.7; /* Firefox */
    font-weight: bold;
    width: 500px !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}

:-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}

/*Fund Explorer Section Button Style*/
.btn-fundExp{
    color: black !important;
    opacity: 0.4 !important;
    font-size: 10px;
    font-weight: bold !important;
    background: lightgray;
    padding: 8px 16px !important;
    margin-top: 1px;
}

.inputAmount ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 0.7 !important; /* Firefox */
    font-weight: bold;
    width: 200px !important;
}

.inputAmount input[type=text]{
    font-weight: bold;
}

.dropdown .btn{
    color: black !important;
    font-weight: bold !important;
    font-size: 12px;
}

#GC .slider-selection {
    background: #428041;
}
#GC .slider-handle {
    background: green;
}

.slider.slider-horizontal {
    width: 320px;
    margin-bottom: 0;
}

/*dropdown not working correctly hence disabled*/
.dropdown-menu.show{
    display: none;
}

.carousel-control-next-icon{
    height: 50px !important;
}

.carousel-control-prev-icon{
    height: 50px !important;
}

.carousel-indicators li{
    background-color: #0099CC;
}

.carousel-indicators .active{
    background-color: #0D47A1;
}

tbody{
    border: 2px solid white !important;
}

.foot-content{
    background-color: black;
    opacity: 0.9;
}

.foot-copyright{
    background-color: black;
}

